mat-progress-bar {
    position: fixed;
    top: 50px;
    z-index: 99;
}
.feed-card {
    max-width: 400px;
    margin: 16px auto;
}
.avatar-image {
    background: url('https://www.w3schools.com/howto/img_forest.jpg') no-repeat center;
    background-size: cover;
}
.content {
    padding: 8px;
}
%shared-image-styles {
    width: 90px;
    text-align: center;
}
.like-button {
    background: url('../../assets/images/thumb-up.svg') no-repeat left;
    background-size: 20px;
    @extend %shared-image-styles;
}
.like-button.active {
    background: url('../../assets/images/thumb-up-filled.svg') no-repeat left;
    background-size: 20px;
    @extend %shared-image-styles;
}
.comment-button {
    background: url('../../assets/images/mode-comment.svg') no-repeat left;
    background-size: 20px;
    @extend %shared-image-styles;
}
.video-player {
    width: 100%;
    margin-bottom: 8px;
    height: 200px;
}
.hyperlink {
    color: var(--color-cobalt);
    text-decoration: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Tabler devices */
    .feed-card {
        max-width: 600px;
    }
    .video-player {
        height: 300px;
    }
}
